body {
    background-color: hsl(212,45%, 89%);

}
section {
    background-color: hsl(0,0%,100%);
    border-radius: 15px;
    box-shadow: 0 0 1px 0;
}
p {
    margin-inline: 15px;
    text-align: center;
    font-family: 'Outfit';
    font-weight: 400;
    font-size: 15px;
    margin-top: 0px;
}
.black_font{
    font-size: 20px;
    color: black;
    font-weight: 700;
    margin-top: 0px;
}
@media (min-width:375px){
    section{
        margin: 150px auto;
        width: 300px;
        height: 450px;
    }
    section>img {
        border-radius: 12px;
        height: 250px;
        margin: 20px 25px;
    }
}
@media (min-width: 1440px){
    section{
        margin: 150px auto;
        width: 300px;
        height: 450px;
    }
    section > img{
        border-radius: 12px;
        height: 250px;
        margin: 20px 25px;
    }

}
